--
-- PostgreSQL database dump
--

\restrict h4AkUGHUQNtVmKAYAP9JQXQ6lBVQiGbtenfFxDxcS2KCgUkf9QtSsQbZI4cUh6r

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: leads; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.leads (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    company_name character varying(255) NOT NULL,
    company_size character varying(50),
    budget_range character varying(100),
    timeline character varying(100),
    requirements text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.leads OWNER TO postgres;

--
-- Name: leads_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.leads_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.leads_id_seq OWNER TO postgres;

--
-- Name: leads_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.leads_id_seq OWNED BY public.leads.id;


--
-- Name: leads id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leads ALTER COLUMN id SET DEFAULT nextval('public.leads_id_seq'::regclass);


--
-- Data for Name: leads; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.leads (id, email, company_name, company_size, budget_range, timeline, requirements, created_at) FROM stdin;
1	jitendra@example.com	AI Lead Automation	11-50	50000	1 Month	Need an AI chatbot	2026-06-26 19:14:51.31492
2	diciros744@cadebek.com	MKC	11-50	5k-20k	3-6 months	test	2026-06-27 17:33:27.670262
3	diciros744@cadebek.com	Manish Logistic	11-50	5k-20k	3-6 months	test	2026-06-27 17:43:09.211997
4	xohesay980@divahd.com	nnh k	11-50	5k-20k	1-3 months	test	2026-06-30 16:27:29.75493
5	xohesay980@divahd.com	Abu Dhabi Hub	11-50	<5k	1-3 months	tets	2026-06-30 16:40:44.959842
\.


--
-- Name: leads_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.leads_id_seq', 5, true);


--
-- Name: leads leads_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leads
    ADD CONSTRAINT leads_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict h4AkUGHUQNtVmKAYAP9JQXQ6lBVQiGbtenfFxDxcS2KCgUkf9QtSsQbZI4cUh6r

